<%= form_for address do |f| %>

<div>
  <%= f.label :line1, 'Address 1' %><br />
  <%= f.text_field :line1 %>
</div>
 
<div>
  <%= f.label :line2, 'Address 2' %><br />
  <%= f.text_field :line2 %>
</div>
 
<div>
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>
 
<div>
  <%= f.label :state %><br />
  <%= f.text_field :state, :size => 2 %>
</div>
 
<div>
  <%= f.label :zip, 'Zip Code' %><br />
  <%= f.text_field :zip %>
</div>

<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>